$card-margin: 0.5rem;

.collection-outline {
  margin-right: $card-margin;
  // margin-bottom: $card-margin;
  .outline-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    // overflow-y: auto;
    .outline-key {
      margin-bottom: 5px;
      list-style: disc;
      list-style-position: inside;
      &.warning {
        font-weight: bold;
        color: darkred;
      }
    }
  }
}
