@import "~bootstrap/scss/bootstrap";

$standardBorder: 1px solid grey;

#schemaOutliner {
  display: flex;
  flex: 1;
  min-height: 100vh;
  flex-direction: column;
  padding: 10px;
  color: grey;
  padding-top: 50px;
  #title {
    font-size: 25px;
  }
  #ipDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    height: 30px;
    padding: 10px;
  }
  #collectionsOutlines {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow-y: scroll;
  }
}
